/* ------------- any custom code should go here ------------- */ 

.white-div h3 {
  color: #0277bf;
  font-family: 'Merriweather-Bold';
  font-size: 24px;
  text-transform: none;
  letter-spacing: 0;
}

.white-div h5 {
  color:#0277bf;
  font-size: 18px;
  font-family: 'source_sans_prolight';
}

.white-div ul > li {
  color: black;
  font-size: 16px;
  font-family: 'source_sans_proextralight';
  padding-bottom: 20px;
}


#section-heading {
	font-family: 'source_sans_probold';
	text-transform: uppercase;
	font-size: 30px;
  text-align: left;
  color:#0277bf;
}

#alternate-h3 {
  color:#0277bf;
  font-size: 22px;
  font-family: 'Source Sans Pro';
}

.navbar .navbar-collapse {
    text-align: right;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    padding: 30px 100px 0 0;
}

.grey-div {
  padding: 60px 10px 90px 30px;
  color: #0277bf;
  background-color: #F3F3F3;
}

.grey-div h3 {
  color: #0277bf;
  font-family: 'source_sans_probold';
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.grey-div .col-md-4 {
  padding: 20px;
}

.grey-div p {
  font-size: 18px;
  color: #4A4A4A;
  font-family: 'source_sans_proextralight';
}

.blue-header-div {
    text-align: left;
    background-color: #0277bf;
    color: white;
  }

.blue-header-div #titleCard > h1 {
    color: white;
    font-size: 45px;
    font-family: Merriweather, serif;
    /*padding-top: 20px;*/
    text-align: left;
}

.blue-header-div #titleCard > h3 {
    color: white;
    font-size: 24px;
    font-family: 'source_sans_proextralight';
}

.blue-header-div a {
  color: white;
  text-decoration: underline;
  font-size: 20px;
}


#census-engagement {
  padding-top: 30px;
}

#countdown img {
    max-width: 233px;
}

#census-101 img {
    max-width: 294px;
}

#census-101-2020{
  margin-bottom:100px;
}

.download-toolkit{
  font-size: 18px;
  color: #0277bf;
  font-weight: bold;
}

.download-toolkit i{
margin-right: 5px;
}

.img-toolkit {
  border: 2px solid #F3F3F3;
}

.container > form {
  color: black;
}

#sign-up .col-md-6{
  padding-left: 0px;
}

#sign-up .form-group .col-md-6{
  padding-left: 0px;
}

#sign-up .last-name{
  padding-right: 0px;
}

#sign-up label{
  margin-top: 10px;
}

#sign-up button{
  margin: 20px 0px;
  width: 200px;
  height: 50px;
}

#sign-up #right{
  padding-left: 15px;
}

.overlay-box{
  display:inline-block !important;
  position:relative !important; 
  overflow: hidden;
}

.share-overlay{ 
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;*/
}

.overlay-box:hover .share-overlay {
  visibility:visible;
  opacity:1;
  transition-delay: 0s;
  text-align:center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
  width:100%;
  height:100%;    
}

.share-overlay span {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0
}

.share-overlay h3{
  margin-top: 80px;
  margin-bottom: 10px;
  font-family: 'source_sans_probold';
  text-transform: uppercase;
  font-size: 30px;
}

.share-overlay i{
  margin: 10px;
}

.share-overlay a:hover{
  text-decoration: none;
  cursor: pointer;
}

.row .thumbnail{
  border:none;
  background:white;
}

.icon-col{
  border-right: 1px solid black;
}

#census-engagement{
  padding-bottom: 50px;
  padding-top: 50px;
}

#census-engagement p, .learn-community-outreach, .community-outreach-2020, #helping-your-community-row{
  padding-bottom: 50px;
}

#what-should-i-know{
  margin-top: 100px;
}

.act-header{
  color:#0277bf;
  font-size: 25px;
}

/* Responsive Media Queries */
@media only screen and (max-width: 920px) {
.white-div h3 {
    margin: 20px 20px 20px 20px;
  }

.white-div p {
    margin:20px 20px 20px 20px;
  }

.btn-primary {
    margin: 0 20px 0 20px;
  }
}

