/* ------------- any custom code should go here ------------- */ 

.white-div h3 {
  color: #0277bf;
  font-family: 'Merriweather-Bold';
  font-size: 24px;
  text-transform: none;
  letter-spacing: 0;
}

#section-heading {
	font-family: 'source_sans_probold';
	text-transform: uppercase;
	font-size: 30px;
}

.navbar .navbar-collapse {
    text-align: right;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    padding: 30px 100px 0 0;
}