/*@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    src: local('Open Sans'), local('Open Sans'), url(../fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    src: local('Open Sans'), local('Open Sans'), url(../fonts/Open_Sans/OpenSans-LightItalic.ttf) format('truetype');
}*/
@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    src: local('Source Sans Pro'), local('Source Sans Pro'), url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'SourceSansPro';
    font-style: bold;
    src: local('Source Sans Pro'), local('Source Sans Pro'), url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    src: local('Source Sans Pro'), local('Source Sans Pro'), url(../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'SourceSansPro';
    font-style: lighter;
    src: local('Source Sans Pro'), local('Source Sans Pro'), url(../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf) format('truetype');
}
/*@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    src: local('Open Sans'), local('Open Sans'), url(../fonts/Open_Sans/OpenSans-LightItalic.ttf) format('truetype');
}*/

body {
  font-family: Source Sans Pro, sans-serif;
}

.content {
  margin-bottom:30px;
}

.italic {
  font-family: Open Sans, italic;
}

h1 {
  font-weight: bold;
  position: relative;
  text-align: center;
  font-size: 48px;
}

h4 {
  color: #1279bc;
  font-weight: bold;
  margin: 20px;
  font-size: 24px;
}


.bottom-shadow {
  -webkit-box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.34);
  box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.34);
}

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.jumbotron {
  background:url('../img/banner-splash.png');
  background-size:cover;
  /*padding:120px;*/
}

.jumbotron div {
  margin-top:20vh;
  color:white;
  opacity:.9;
}

.jumbotron .h1, .jumbotron h1 {
  font-size: 48px;
}


.navbar-default .navbar-nav>li>a {
  font-weight: lighter;
  font-size: 18px;
}


/*h1 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

h1:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
h1:before {
  left: 0;
}*/

footer > div > a {
  color: white;
}

video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

.btn-cta{
  font-size: 2em;
  color: #1279bc;
  opacity: .9;
  border: none;
  background: white;
  padding:20px 50px ;
  margin-top:30px;
	-webkit-transition: background .4s, -webkit-transform .4s; /* Safari */
		transition: background .4s;
  /*width: 300px;*/
  /*height: 70px;*/
}

.btn-cta:hover {
  color: white;
  background: #1279bc;

}

.btn-bta{
  font-size: 2em;
  background: #1279bc;
  opacity: .9;
  border: solid 1px #1279bc;
  color: white;
  font-weight: bold;
  padding:20px 50px ;
  margin-top:30px;
	-webkit-transition: background .4s, -webkit-transform .4s; /* Safari */
		transition: background .4s;
}

.btn-bta:hover {
  background: white;
  color: #1279bc;
  border: solid 1px #1279bc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.btn {
  text-transform: uppercase;
}

.navbar-nav > li > a {
	text-transform: uppercase;
  letter-spacing: 3px;
}

#partnerships {
  padding-top:20px;
}

#main-logo {
  padding:20px 0;
	-webkit-transition: margin-top .4s, -webkit-transform .4s; /* Safari */
    /*transition: width 2s, height 2s, transform 2s;*/
		transition: margin-top .4s;
		/*cubuc-bezier(0.5, 0.31, 0.84, 0.05)*/
}

.white-div {
  padding: 30px;
  color: #0277bf;
}

.white-div h3 {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.white-div .col-md-4 {
  padding: 60px;
}

.white-div p {
  font-size: 24px;
  color: black;
  font-weight: lighter;
}

.blue-div {
  padding: 100px 0;
  font-style: italic;
  text-align: center;
  background-color: #0277bf;
  color: white;
  font-size: 36px;
}

.blue-div a {
  color: white;
}

.carousel-indicators li {
  background-color: #0277bf;
  opacity: .5;
}
.carousel-indicators .active {
  background-color: #0277bf;
  opacity: 1;

}

.img-responsive {
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .jumbotron {
    background:url('../img/banner-splash.png');
    background-size:cover;
    margin-top:0px;
    padding:0px 0 0 0;
  }

  .jumbotron div {
    margin-top:0;
  }

  .btn-cta{
    font-size: 1em;
    color: #1279bc;
    opacity: .9;
    border: none;
    background: white;
    /*padding:20px 50px ;*/
    margin-top:30px;
  	-webkit-transition: background .4s, -webkit-transform .4s; /* Safari */
  		transition: background .4s;
    /*width: 300px;*/
    /*height: 70px;*/
  }

  .btn-cta:hover {
    color: white;
    background: #1279bc;

  }

  .btn-bta{
    font-size: 1em;
    background: #1279bc;
    opacity: .9;
    border: solid 1px #1279bc;
    color: white;
    font-weight: bold;
    /*padding:20px 50px ;*/
    margin-top:30px;
  	-webkit-transition: background .4s, -webkit-transform .4s; /* Safari */
  		transition: background .4s;
  }

  .btn-bta:hover {
    background: white;
    color: #1279bc;
    border: solid 1px #1279bc;
  }


  .blue-div {
    padding: 20px 0;
    font-style: italic;
    text-align: center;
    background-color: #0277bf;
    color: white;
    font-size: 26px;
  }

  .white-div .col-md-4 {
    padding: 60px 0;
  }

}
